/* Global styles */

:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --text-color: #555;
    --accent-color: rgb(202, 141, 160);
    --accent-color-light: rgb(254, 207, 221);
    --accent-color-dark: rgb(148, 74, 97);
    --background-color: #fff0f0;

    --font-family: Arial, sans-serif;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
  
  body {
    font-family: 'Playfair Display', serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
  
  /* Utility classes */
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: var(--secondary-color);
  }
  
  .bg-dark {
    background-color: var(--primary-color);
  }
  
  /* Layout */

  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .product {
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .product h2 {
    margin-top: 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }
  
  .product p {
    margin-bottom: 10px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
  }
  
  .product button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
  }
  