/* Global styles */

:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --text-color: #555;
    --accent-color: rgb(202, 141, 160);
    --accent-color-light: rgb(254, 207, 221);
    --accent-color-dark: rgb(148, 74, 97);
    --background-color: #fff0f0;

    --font-family: Arial, sans-serif;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
  
  /* Utility classes */
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: var(--secondary-color);
  }
  
  .bg-dark {
    background-color: var(--primary-color);
  }

  .mt-10 {
    margin-top: 10px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .rounded {
    border-radius: 5px;
  }
  
  .text-bold {
    font-weight: var(--font-weight-bold);
  }
  
  .text-italic {
    font-style: italic;
  }
  
  /* Layout */

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .product {
    border: 1px solid var(--text-color);
    padding: 20px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h2 {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
  }
  
  .product p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .product button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
  }